* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: 20px;
    text-align: center;
}

div {
    height: 150px;
    width: 350px;
    margin: 20vh 25vw;
    border: 3px solid #ccc;
    padding: 10px;
}

.button {
    background-color: #ccc; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    outline: outset;
  }



